@charset "utf-8";
/* CSS Document */

body{
	background-color:#F0FF00;
	font-size:24px;
}
p{
	font-size:24px; font-weight:bold; font-family:sans-serif; font-style:italic; text-decoration:underline;
}

.p1{
	font-size:34px; font-weight:bolder; font-family:arial; font-style:oblique; text-decoration:line-through; color:#f00;
}

#pa3{
	color:#0f0;
}

